.cookie-modal-style {
    position: absolute;
    left: 40px;
    bottom: 30px;
    background-color: black;
    padding: 0 30px;
    width: 450px;
    height: 250px;
    box-shadow: 0 .15rem 1rem rgba( 1, 1, 1, .5);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    color: white;
}


.button-container {
    display: flex;
    justify-content: space-around;
}